{% extends 'mailing/base.html' %}

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <p class="lead">Список клиентов</p>
</div>

<div class="container">
  <div class="col-12 mb-5">
    {% if user.is_authenticated %}
    <a class="btn btn-outline-primary" href="{% url 'mailing:client_create' %}">Добавить клиента</a>
    {% endif %}
  </div>
  <div class="row text-center">
    {% for object in object_list %}
    <div class="col-3">
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">{{object.fio}}</h4>
      </div>
      <div class="card-body">
        <h5 class="card-title">{{object.email}}</h5>
        <ul class="list-unstyled mt-3 mb-4">
          <li>{{object.comment | truncatechars:50}}</li>
        </ul>
        <a href="{% url 'mailing:client_detail' object.pk %}"
           type="button" class="btn btn-block btn-outline-primary">Подробнее</a>
        <a href="{% url 'mailing:client_edit' object.pk %}"
           type="button" class="btn btn-block btn-outline-primary">Изменить</a>
        <a href="{% url 'mailing:client_delete' object.pk %}"
           type="button" class="btn btn-block btn-outline-primary">Удалить</a>
      </div>
    </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}