{% extends 'mailing/base.html' %}

{% block content %}
</div>
  <div class="col-6">
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Тема сообщения: {{object.message}}</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4">
          <p class="text-left" style="font-size:13px">Время начала: {{ object.start_time }}</p>
          <p class="text-left" style="font-size:13px">Время завершения: {{ object.end_time }}</p>
          <p class="text-left" style="font-size:13px">Периодичность: {{ object.frequency }}</p>
          <p class="text-left" style="font-size:13px">Статус: {{ object.status }}</p>
          <p class="text-left" style="font-size:13px">Клиент: <br>{% for client in object.client.all %}
          <p class="text-left" style="font-size:13px">Владелец: {{ object.owner }}
            {{ client.fio }}: {{ client.email }}<br/>{% endfor %}</p>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}