{% extends 'mailing/base.html' %}
{% load my_tags %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <p class="lead">Блог</p>
</div>

<div class="container">
  <div class="col-12 mb-5">
    {% if user.is_authenticated %}
    <a class="btn btn-outline-primary" href="{% url 'blog:blog-create' %}">Добавить статью</a>
    {% endif %}
  </div>
  <div class="row text-center">
    {% for object in object_list %}
    <div class="col-3">
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">{{object.title}}</h4>
      </div>
      <div class="card-body">
        <h5 class="card-title">{{object.email}}</h5>
        <ul class="list-unstyled mt-3 mb-4">
          <li>{{object.text | truncatechars:50}}</li>
        </ul>
        <img src="{{ object.image | media_filter }}" alt={{ object }} class="img-fluid">
        <a href="{% url 'blog:blog-detail' object.pk %}"
           type="button" class="btn btn-block btn-outline-primary">Читать далее</a>
<!--        {% if user == object.owner %}-->
<!--        <a href="{% url 'mailing:client_edit' object.pk %}"-->
<!--           type="button" class="btn btn-block btn-outline-primary">Изменить</a>-->
<!--        {% endif %}-->
<!--        {% if user == object.owner %}-->
<!--        <a href="{% url 'mailing:client_delete' object.pk %}"-->
<!--           type="button" class="btn btn-block btn-outline-primary">Удалить</a>-->
<!--        {% endif %}-->
      </div>
    </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}