{% extends 'mailing/base.html' %}

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <p class="lead">Список пользователей системы</p>
</div>

<div class="container">
<!--  <div class="col-12 mb-5">-->
<!--    {% if user.is_authenticated %}-->
<!--    <a class="btn btn-outline-primary" href="{% url 'mailing:subscribe_create' %}">Добавить рассылку</a>-->
<!--    {% endif %}-->
<!--  </div>-->
  <div class="row text-center">
    {% for object in object_list %}
    <div class="col-3">
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Пользователь</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4">
          <p class="text-left" style="font-size:13px">Почта: {{ object.email }}</p>
        </ul>
        {% if perms.mailing.can_subscribe_off %}
        <a href="{% url 'users:user-update' object.pk %}"
           type="button" class="btn btn-block btn-outline-primary">Изменить</a>
        {% endif %}
      </div>
    </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}